# Logs
logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase
.firebase/
.firebaserc

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# dist
/dist
/server

# Файлы и папки операционной системы
.DS_Store
Thumbs.db


src/libs/firebase/config/
src/libs/storage/config/private
src/libs/emails/config.ts
