[Unit]
Description=NodeJS Server for Rhythm
After=network.target

[Service]
Type=simple
Restart=always
# RestartSec=5
PIDFile=/run/rhythm-server.pid

# You have to change absolute path in next two lines when deploying to another server !!!
# WorkingDirectory=/var/www/vtempe/data/rhythm-server/server
# ExecStart=/root/.nvm/versions/node/v20.19.2/bin/node /var/www/vtempe/data/rhythm-server/server/index.js

# Environment=NODE_PATH=server/

WorkingDirectory=/var/www/vtempe/data/rhythm-server/server
# ExecStart=NODE_PATH=server/ /root/.nvm/versions/node/v20.19.2/bin/node /var/www/vtempe/data/rhythm-server/server/index.js
ExecStart=/root/.nvm/versions/node/v20.19.2/bin/node /var/www/vtempe/data/rhythm-server/server/index.js

[Install]
WantedBy=multi-user.target
