doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Info about user from partner link
        style.
            .container { padding: 0 100px; font-size: 16px; }
            .footer { font-size: 12px; }
            .italic { font-style: italic; }

    body.container
        a(href=url_site)
            img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/rhythm%2Fbase%2Flogo_rhythm_white.png?alt=media&token=11654dea-32f4-46e3-9b77-d145f6a4aa40", alt='Информационная панель руководителя "Ритм"' style="width: 130px;")
        h3 Переход по партнёрской ссылке
        p  Id партнёра - #{partnerId}

        hr
        footer.footer
            p Автоматическое уведомление о событии.
            p.italic #{platform_name}
