doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Info about new user registration
        style.
            .container { padding: 0 100px; }

    body.container
        img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/logo_white_bg.jpg?alt=media&token=3781892d-1475-4940-9c43-eb4b8a3b25c5", alt="Учебный центр Основа" style="width: 130px;")
        h3 Регистрация компании
        p Зарегистрирована компания: #{email}

        hr
        footer
            p С уважением, 
            p Bot учебного центра «Основа»
